*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  padding: 1rem;
  background-color: #0fc3a0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

iframe {
  /* This fixes a mobile Safari bug */
  padding: 0;
  margin: 0;
  height: 40px !important;
}

#payment-form {
  width: 680px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label {
  display: block;
  height: 10px;
  color: #13395E;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
}

form {
  display: flex;
  margin-bottom: 8px;
}

.one-line {
  flex: 5;
  background: #fff;
  display: flex;
  margin-bottom: 8px;
  height: 60px;
  border-radius: 30px;
}

.outcomes {
  margin-top: 70px;
  margin-left: 40px;
  position: absolute;
}

.one-line>div:nth-child(1) {
  flex: 2;
}

.one-line>div:nth-child(2) {
  flex: 1;
}

.one-line>div:nth-child(3) {
  flex: 1;
}

.input-container {
  position: relative;
  display: flex;
  height: 40px;
  margin-left: 10px;
  margin-top: -8px;
}

.icon-container:last-child {
  right: 0;
}

.icon-container.payment-method {
  right: 0;
}

.input-container.expiry-date {
  margin-right: 4px;
}

.icon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 26px;
  margin: 0 7px;
}

.icon-container.payment-method {
  transform: translateY(-50%) rotateY(90deg);
  transition: opacity 0.15s ease-out;
  opacity: 0;
  top: 50%;
}

.icon-container.payment-method.show {
  opacity: 1;
  transition: all 0.4s ease-out;
  transform: translateY(-50%) rotateY(0deg);
}

.icon-container.payment-method img {
  width: 100%;
}

[id$="-error"] {
  display: none
}

.frame {
  opacity: 0;
}

.frame--activated {
  opacity: 1;
}

.frame--activated.frame--invalid {
  border-bottom: solid 1px #D96830;
}

.error-message {
  display: block;
  color: #C9501C;
  font-size: .9rem;
  margin: 8px 0 0 1px;
  font-weight: 300;
}

#pay-button {
  flex: 2;
  border: none;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
  height: 60px;
  width: 588px;
  margin-left: 20px;
  border-radius: 200px;
  background-color: #00ffcd;
  outline: none;
}

#pay-button:active {
  background-color: #00ffb3;
}

#pay-button:hover {
  box-shadow: 0 10px 10px 0 #3dd5b7;
}

#pay-button:disabled {
  background-color: #00ffccd8;
  box-shadow: none;
}

#pay-button:not(:disabled) {
  cursor: pointer;
}

.success-payment-message {
  color: #13395E;
  line-height: 1.4;
}

.token {
  color: #b35e14;
  font-size: .9rem;
  font-family: monospace;
}

.one-line label {
  height: 10px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 10px;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #0fc3a0;
}

.one-line .number-label {
  margin-left: 40px;
}

.card-number {
  margin-left: 40px;
}

.smaller {
  width: 300px
}

.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}

.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #payment-form {
    width: 100%;
  }
}